[Unit]
Description=Robot Video Stream
After=network.target multi-user.target
Wants=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=WORKING_DIR/scripts/start-video-stream.sh
Restart=on-failure
RestartSec=10
User=root
TimeoutStopSec=10
KillMode=mixed
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
